<div class="modal" data-modal="true" id="book_modal">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <h3 class="modal-title">Ma lecture</h3>
        </div>
        <div class="modal-body p-0 pb-5">
            <div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto"
                 data-scrollable-offset="300px">
                {{ form_start(bookReadForm) }}
                    <div class="flex flex-col gap-5 p-5">
                        <div class="flex flex-col gap-1">
                            <label for="book" class="form-label font-normal text-gray-900">Livre</label>
                            {{ form_widget(bookReadForm.book_id, { 'attr': { 'class': 'select' } }) }}
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="form-label font-normal text-gray-900">Mes notes</label>
                            <div class="flex flex-col w-full gap-1">
                            {{ form_widget(bookReadForm.description, { 'attr': { 'class': 'textarea' } }) }}
                            </div>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label for="book" class="form-label font-normal text-gray-900">Note</label>
                            {{ form_widget(bookReadForm.rating, { 'attr': { 'class': 'select' } }) }}
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="switch">
                                <span class="switch-label font-normal text-gray-900">Lecture terminée</span>
                                {{ form_widget(bookReadForm.is_read, { 'attr': { 'class': 'checkbox' } }) }}
                            </label>
                        </div>

                        <div class="flex">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                {{ form_end(bookReadForm) }}
            </div>
        </div>
    </div>
</div>